<div id="content" class="container-fluid">
	<div class="row">

<!-- - - OPENING WELCOME ILLUSTRATOR IMAGE - - -->

		<div id="welcome">
			<img src="/assets/welcome.png" id="welcome_img" class="img-responsive"
				data--0p-top="-webkit-transform:translateX(0%)"
				data--0p-top="-ms-transform:translateX(0%)"
				data--0p-top="-moz-transform:translateX(0%)"
				data--0p-top="transform:translateX(0%)"

				data--250p-top="-webkit-transform:translateX(150%)"
				data--250p-top="-ms-transform:translateX(150%)"
				data--250p-top="-moz-transform:translateX(150%)"
				data--250p-top="transform:translateX(150%)">
		</div>

<!-- - - RIGHT SIDE GRAY COLUMN THAT SLIDES OFF SCREEN - - -->

		<div id="right_side_gray"  
			data--0p-top="-webkit-transform: translateX(0%)" 
			data--0p-top="-ms-transform: translateX(0%)" 
			data--0p-top="-moz-transform: translateX(0%)" 
			data--0p-top="transform: translateX(0%)" 

			data--400p-top="-webkit-transform: translateX(100%)"
			data--400p-top="-ms-transform: translateX(100%)"
			data--400p-top="-moz-transform: translateX(100%)"
			data--400p-top="transform: translateX(100%)">
		</div>

<!-- - - LEFT SIDE GRAY COLUMN PARTIALLY ON SCREEN - - -->

		<div id="left_side" class="col-sm-6 col-md-6 col-lg-6" 
			data--0p-top="-webkit-transform: translateX(0%)" 
			data--0p-top="-ms-transform: translateX(0%)" 
			data--0p-top="-moz-transform: translateX(0%)" 
			data--0p-top="transform: translateX(0%)" 

			data--400p-top="-webkit-transform: translateX(-50%)"
			data--400p-top="-ms-transform: translateX(-50%)"
			data--400p-top="-moz-transform: translateX(-50%)"
			data--400p-top="transform: translateX(-50%)">
	<!-- - - MERKABA IMAGE - - -->
			<div id="merk">
				<object>
					<embed src="/assets/merkaba.svg" id="merkaba" class="col l12 img-responsive" 
						data--0p-top="-webkit-transform: rotate(0deg) translate(0%, 0%) scale(1)"
						data--0p-top="-ms-transform: rotate(0deg) translate(0%, 0%) scale(1)"
						data--0p-top="-moz-transform: rotate(0deg) translate(0%, 0%) scale(1)"
						data--0p-top="transform: rotate(0deg) translate(0%, 0%) scale(1)"

						data--200p-top="-webkit-transform: rotate(90deg) translate(0%, 0%) scale(1)"
						data--200p-top="-ms-transform: rotate(90deg) translate(0%, 0%) scale(1)"
						data--200p-top="-moz-transform: rotate(90deg) translate(0%, 0%) scale(1)"
						data--200p-top="transform: rotate(90deg) translate(0%, 0%) scale(1)"

						data--500p-top="-webkit-transform: rotate(200deg) translate(10%, 23%) scale(0.65)"
						data--500p-top="-ms-transform: rotate(200deg) translate(10%, 23%) scale(0.65)"
						data--500p-top="-moz-transform: rotate(200deg) translate(10%, 23%) scale(0.65)"
						data--500p-top="transform: rotate(200deg) translate(10%, 23%) scale(0.65)"/>
				</object>
			</div>
	<!-- - - ABOUT ME, PROJECTS, CONTACT LEFT SIDE IMAGES - - -->
			<div id="links">
				<img src="/assets/about_me.svg" id="about" class="img-responsive link_img" 
					data--170p-top="-webkit-transform:translateX(-250%) scale(1)" 
					data--170p-top="-ms-transform:translateX(-250%) scale(1)" 
					data--170p-top="-moz-transform:translateX(-250%) scale(1)" 
					data--170p-top="transform:translateX(-250%) scale(1)" 

					data--520p-top="-webkit-transform:translateX(0%) scale(1)"
					data--520p-top="-ms-transform:translateX(0%) scale(1)"
					data--520p-top="-moz-transform:translateX(0%) scale(1)"
					data--520p-top="transform:translateX(0%) scale(1)"

					data--750p-top="-webkit-transform:translateX(0%) scale(1)"
					data--750p-top="-ms-transform:translateX(0%) scale(1)"
					data--750p-top="-moz-transform:translateX(0%) scale(1)"
					data--750p-top="transform:translateX(0%) scale(1)"

					data--850p-top="-webkit-transform:translateX(50%) scale(1)"
					data--850p-top="-ms-transform:translateX(50%) scale(1)"
					data--850p-top="-moz-transform:translateX(50%) scale(1)"
					data--850p-top="transform:translateX(50%) scale(1)"

					data--1430p-top="-webkit-transform:translateX(50%) scale(1)"
					data--1430p-top="-ms-transform:translateX(50%) scale(1)"
					data--1430p-top="-moz-transform:translateX(50%) scale(1)"
					data--1430p-top="transform:translateX(50%) scale(1)"

					data--1530p-top="-webkit-transform:translateX(0%) scale(1)"
					data--1530p-top="-ms-transform:translateX(0%) scale(1)"
					data--1530p-top="-moz-transform:translateX(0%) scale(1)"
					data--1530p-top="transform:translateX(0%) scale(1)"/>

				<img src="/assets/projects.svg" id="projects" class="img-responsive link_img" 
					data--200p-top="-webkit-transform:translateX(-250%) scale(.9)" 
					data--200p-top="-ms-transform:translateX(-250%) scale(.9)" 
					data--200p-top="-moz-transform:translateX(-250%) scale(.9)" 
					data--200p-top="transform:translateX(-250%) scale(.9)" 

					data--560p-top="-webkit-transform:translateX(0%) scale(.9)"
					data--560p-top="-ms-transform:translateX(0%) scale(.9)"
					data--560p-top="-moz-transform:translateX(0%) scale(.9)"
					data--560p-top="transform:translateX(0%) scale(.9)"

					data--1500p-top="-webkit-transform:translateX(0%) scale(.9)"
					data--1500p-top="-ms-transform:translateX(0%) scale(.9)"
					data--1500p-top="-moz-transform:translateX(0%) scale(.9)"
					data--1500p-top="transform:translateX(0%) scale(.9)"

					data--1600p-top="-webkit-transform:translateX(50%) scale(1)"
					data--1600p-top="-ms-transform:translateX(50%) scale(1)"
					data--1600p-top="-moz-transform:translateX(50%) scale(1)"
					data--1600p-top="transform:translateX(50%) scale(1)"

					data--1950p-top="-webkit-transform:translateX(50%) scale(1)"
					data--1950p-top="-ms-transform:translateX(50%) scale(1)"
					data--1950p-top="-moz-transform:translateX(50%) scale(1)"
					data--1950p-top="transform:translateX(50%) scale(1)"

					data--2050p-top="-webkit-transform:translateX(0%) scale(.9)"
					data--2050p-top="-ms-transform:translateX(0%) scale(.9)"
					data--2050p-top="-moz-transform:translateX(0%) scale(.9)"
					data--2050p-top="transform:translateX(0%) scale(.9)"/>

				<img src="/assets/contact.svg" id="contact" class="img-responsive link_img" 
					data--230p-top="-webkit-transform:translateX(-250%) scale(1)" 
					data--230p-top="-ms-transform:translateX(-250%) scale(1)" 
					data--230p-top="-moz-transform:translateX(-250%) scale(1)" 
					data--230p-top="transform:translateX(-250%) scale(1)" 

					data--600p-top="-webkit-transform:translateX(0%) scale(1)"
					data--600p-top="-ms-transform:translateX(0%) scale(1)"
					data--600p-top="-moz-transform:translateX(0%) scale(1)"
					data--600p-top="transform:translateX(0%) scale(1)"

					data--2100p-top="-webkit-transform:translateX(0%) scale(1)"
					data--2100p-top="-ms-transform:translateX(0%) scale(1)"
					data--2100p-top="-moz-transform:translateX(0%) scale(1)"
					data--2100p-top="transform:translateX(0%) scale(1)"

					data--2200p-top="-webkit-transform:translateX(50%) scale(1)"
					data--2200p-top="-ms-transform:translateX(50%) scale(1)"
					data--2200p-top="-moz-transform:translateX(50%) scale(1)"
					data--2200p-top="transform:translateX(50%) scale(1)"/>
			</div>
		</div>

<!-- - - RIGHT SIDE TITLE IMAGE & PHOTO - - -->

		<div id="right_greeting" class="right_side_divs">
			<img src="/assets/greeting.png" id="greeting" class="img-responsive" 
				data--140-top="-webkit-transform:translateX(200%)" 
				data--140-top="-ms-transform:translateX(200%)" 
				data--140-top="-moz-transform:translateX(200%)" 
				data--140-top="transform:translateX(200%)" 

				data--500p-top="-webkit-transform:translateX(0%)"
				data--500p-top="-ms-transform:translateX(0%)"
				data--500p-top="-moz-transform:translateX(0%)"
				data--500p-top="transform:translateX(0%)"

				data--800p-top="-webkit-transform:translateX(0%)"
				data--800p-top="-ms-transform:translateX(0%)"
				data--800p-top="-moz-transform:translateX(0%)"
				data--800p-top="transform:translateX(0%)"

				data--1000p-top="-webkit-transform:translateX(150%)"
				data--1000p-top="-ms-transform:translateX(150%)"
				data--1000p-top="-moz-transform:translateX(150%)"
				data--1000p-top="transform:translateX(150%)">

			<img src="/assets/sedona_me.png" id="photo_me" class="img-responsive"
				data--400p-top="-webkit-transform:translateY(300%)"
				data--400p-top="-ms-transform:translateY(300%)"
				data--400p-top="-moz-transform:translateY(300%)"
				data--400p-top="transform:translateY(300%)"

				data--600p-top="-webkit-transform:translateY(0%)"
				data--600p-top="-ms-transform:translateY(0%)"
				data--600p-top="-moz-transform:translateY(0%)"
				data--600p-top="transform:translateY(0%)"

				data--800p-top="-webkit-transform:translateX(0%)"
				data--800p-top="-ms-transform:translateX(0%)"
				data--800p-top="-moz-transform:translateX(0%)"
				data--800p-top="transform:translateX(0%)"

				data--960p-top="-webkit-transform:translateX(200%)"
				data--960p-top="-ms-transform:translateX(200%)"
				data--960p-top="-moz-transform:translateX(200%)"
				data--960p-top="transform:translateX(200%)">
		</div>

<!-- - - RIGHT SIDE ABOUT ME, PROJECTS, CONTACT DIVS - - -->
		<div id="right_info_pages" class="right_side_divs"> 
	<!-- - - ABOUT DIV - - -->
			<div id="about_div" class="info_divs" 
				data--1000p-top="-webkit-transform:rotateY(90deg)"
				data--1000p-top="-ms-transform:rotateY(90deg)"
				data--1000p-top="-moz-transform:rotateY(90deg)"
				data--1000p-top="transform:rotateY(90deg)"

				data--1200p-top="-webkit-transform:rotateY(0deg)"
				data--1200p-top="-ms-transform:rotateY(0deg)"
				data--1200p-top="-moz-transform:rotateY(0deg)"
				data--1200p-top="transform:rotateY(0deg)"

				data--1400p-top="-webkit-transform:rotateY(0deg)"
				data--1400p-top="-ms-transform:rotateY(0deg)"
				data--1400p-top="-moz-transform:rotateY(0deg)"
				data--1400p-top="transform:rotateY(0deg)"

				data--1550p-top="-webkit-transform:rotateY(90deg)"
				data--1550p-top="-ms-transform:rotateY(90deg)"
				data--1550p-top="-moz-transform:rotateY(90deg)"
				data--1550p-top="transform:rotateY(90deg)">

				<img src="/assets/hello.png" class="img-responsive">
				<p id="about_me_paragraph" class="text text-center">
					I am a full stack web developer located in Southern California, but a San Antonio, Texas native...sooo a die hard Spurs fan.
					I am all about adding things that bring joy to my life - nature, adventure, my wonderful and lazy Pitbull/Shepard pup, along with surrounding myself with great people and environments. I believe that life should be fun, even when you're working. So...ping pong?
				</p>
				<h3 class="text-center text">- Skills -</h3>
				<p class="text-center text">I am a graduate of Coding Dojo, a 14 week immersive web development program where I learned 3 full stacks along with HTML, CSS, and jQuery.
				<br>
				I love all aspects of web development, from wireframe to deployment, being able to merge my passion for art with my love of puzzles and problem solving, tinkering with parts until they fit seamlessly together. I am constantly pushing myself to try new and fun design techniques along with learning new technologies.</p>
				<br>
				<img src="/assets/web_fun.png" id="web_fun" class="icons img-responsive">
				<img src="/assets/lamp_icon.png" id="lamp" class="icons img-responsive">
				<img src="/assets/mean_icon.png" id="mean" class="icons img-responsive">
				<img src="/assets/ror_icon.png" id="ror" class="icons img-responsive">
			</div>
	<!-- - - PROJECT DIV - - -->
			<div id="projects_div" class="info_divs"
				data--1570p-top="-webkit-transform:rotateY(90deg)"
				data--1570p-top="-ms-transform:rotateY(90deg)"
				data--1570p-top="-moz-transform:rotateY(90deg)"
				data--1570p-top="transform:rotateY(90deg)"

				data--1700p-top="-webkit-transform:rotateY(0deg)"
				data--1700p-top="-ms-transform:rotateY(0deg)"
				data--1700p-top="-moz-transform:rotateY(0deg)"
				data--1700p-top="transform:rotateY(0deg)"

				data--1950p-top="-webkit-transform:rotateY(0deg)"
				data--1950p-top="-ms-transform:rotateY(0deg)"
				data--1950p-top="-moz-transform:rotateY(0deg)"
				data--1950p-top="transform:rotateY(0deg)"

				data--2100p-top="-webkit-transform:rotateY(90deg)"
				data--2100p-top="-ms-transform:rotateY(90deg)"
				data--2100p-top="-moz-transform:rotateY(90deg)"
				data--2100p-top="transform:rotateY(90deg)">

				<h3 class="text">- Fitness Art -</h3>
				<p class="text">Fitness application that brings together teachers and students. Built with MEAN stack</p>
				<p class="text project_info">(student project - 4 person team and winner of hack-a-thon. CONTRIBUTION: Wireframing, front end design and development for entire website.)</p>
				<div id="fitnessArt_images" class="project_images col-leg-12 carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#fitnessArt_images" data-slide-to="0" class="active"></li>
						<li data-target="#fitnessArt_images" data-slide-to="1"></li>
						<li data-target="#fitnessArt_images" data-slide-to="2"></li>
						<li data-target="#fitnessArt_images" data-slide-to="3"></li>
						<li data-target="#fitnessArt_images" data-slide-to="4"></li>
						<li data-target="#fitnessArt_images" data-slide-to="5"></li>
						<li data-target="#fitnessArt_images" data-slide-to="6"></li>
						<li data-target="#fitnessArt_images" data-slide-to="7"></li>
						<li data-target="#fitnessArt_images" data-slide-to="8"></li>
						<li data-target="#fitnessArt_images" data-slide-to="9"></li>
						<li data-target="#fitnessArt_images" data-slide-to="10"></li>
					</ol>

					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="/assets/fa1.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa2.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa3.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa4.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa5.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa6.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa7.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa8.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa9.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa10.png" alt="Fitness Art Image">
						</div>
						<div class="item">
							<img src="/assets/fa11.png" alt="Fitness Art Image">
						</div>
					</div>

					<a class="left carousel-control" href="#fitnessArt_images" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#fitnessArt_images" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					</a>
				</div>
				<h3 class="text">- Hoof -</h3>
				<p class="text">Fitness application that provides customized workout videos along with nutirition tips. Developed with Ruby on Rails</p>
				<p class="text project_info">(student project - 4 person team CONTRIBUTION: Wireframing, nutrition pages - design and dev., and non-profit organization pages - design and dev.)</p>
				<div id="hoof_images" class="project_images col-leg-12 carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#hoof_images" data-slide-to="0" class="active"></li>
						<li data-target="#hoof_images" data-slide-to="1"></li>
						<li data-target="#hoof_images" data-slide-to="2"></li>
						<li data-target="#hoof_images" data-slide-to="3"></li>
						<li data-target="#hoof_images" data-slide-to="4"></li>
						<li data-target="#hoof_images" data-slide-to="5"></li>
						<li data-target="#hoof_images" data-slide-to="6"></li>
						<li data-target="#hoof_images" data-slide-to="7"></li>
						<li data-target="#hoof_images" data-slide-to="8"></li>
						<li data-target="#hoof_images" data-slide-to="9"></li>
						<li data-target="#hoof_images" data-slide-to="10"></li>
						<li data-target="#hoof_images" data-slide-to="11"></li>
						<li data-target="#hoof_images" data-slide-to="12"></li>
						<li data-target="#hoof_images" data-slide-to="13"></li>
						<li data-target="#hoof_images" data-slide-to="14"></li>
						<li data-target="#hoof_images" data-slide-to="15"></li>
						<li data-target="#hoof_images" data-slide-to="16"></li>
						<li data-target="#hoof_images" data-slide-to="17"></li>
						<li data-target="#hoof_images" data-slide-to="18"></li>
						<li data-target="#hoof_images" data-slide-to="19"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="/assets/h1.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h2.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h4.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h7.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h8.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h9.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h10.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h11.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h13.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h12.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h14.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h16.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h15.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h17.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h3.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h18.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h19.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h20.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h5.png" alt="Hoof Image">
						</div>
						<div class="item">
							<img src="/assets/h6.png" alt="Hoof Image">
						</div>
					</div>
					<a class="left carousel-control" href="#hoof_images" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#hoof_images" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					</a>
				</div>
				<h3 class="text">More projects to come.</h3>
			</div>
	<!-- - - CONTACT DIV - - -->
			<div id="contact_div" class="info_divs" 
				data--2150p-top="-webkit-transform:rotateY(90deg)"
				data--2150p-top="-ms-transform:rotateY(90deg)"
				data--2150p-top="-moz-transform:rotateY(90deg)"
				data--2150p-top="transform:rotateY(90deg)"

				data--2300p-top="-webkit-transform:rotateY(0deg)"
				data--2300p-top="-ms-transform:rotateY(0deg)"
				data--2300p-top="-moz-transform:rotateY(0deg)"
				data--2300p-top="transform:rotateY(0deg)">
				<h3 class="text-center text">Thanks for stopping by!</h3>
				<p class="text text-center">Contact me at <span>rylinzbitowsky@gmail.com</span> or visit the links below</p>
				<p class="text-center"><%= link_to 'Download Resume', main_download_pdf_url %></p>
				<a href="http://linkedin.com/in/rylinzbitowsky"><img src="/assets/linkedIn_logo.jpeg" alt="Linked In" id="linked_in_logo" class="web_logos img-responsive"></a>
				<a href="http://github.com/rylinzbit"><img src="/assets/git_logo.png" alt="GitHub" class="web_logos img-responsive"></a>
			</div>
		</div>
	</div>
</div>
 